# ---- Python ----
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
**/*.pyo
*.pyd
**/*.pyd
*.egg-info/
*.log

# ---- Virtual environments ----
.venv/
venv/

# ---- Environment files ----
.env
*.env

# ---- OS / Editor files ----
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Streamlit ----
.streamlit/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Airflow ----
logs/
logs/*
airflow.db
airflow-webserver.pid

# ---- Data ----
data/
